[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LPKsample"]
	path = LPKsample
	url = https://github.com/cran/LPKsample
[submodule "LPRelevance"]
	path = LPRelevance
	url = https://github.com/cran/LPRelevance
